.custom-select-placeholder .ant-select-selector {
  background-color: #ffffff !important;
}
.dark-mode-select .ant-select-selection-placeholder{
  color: #000000;
}

.dark .dark-mode-select .ant-select-selector {
  background-color: #2A2A2A !important;
  border-color: #444 !important;
}

.dark .dark-mode-select .ant-select-selection-placeholder {
  color: #FFFFFF !important;
}

.dark .dark-mode-select .ant-select-selection-item {
  color: #FFFFFF !important;
}

.custom-select-placeholder .ant-select-arrow {
  color: #000000 !important;
}

.dark .dark-mode-select .ant-select-arrow {
  color: #ffffff !important;
}
